*{
  margin: 0;
  padding: 0;

}
body {
background-color: #303030;
color: #E5E5E5;
font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
  color: #E5E5E5;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


